<nav>
	<a routerLink="/customer" routerLinkActive="active"><span class="leftArrow"> < </span> BACK</a>
</nav>
<h1>Edit Customer</h1>
<h3>{{errorMsg}}</h3>
<button>ADD NEW CUSTOMER</button>
<section>
	<form (ngSubmit)="submitComment()">
		<div class="form-group" class="customerCard">
			<div>
				<div><span>NAME:</span><input type="text">{{anotherHero.id}}</div>
			</div>
			
		</div>
	</form>
	<!--<ul *ngFor="let customer of customers" class="customerCard" >
		<div *ngIf="customer.id==customerId" >
		<li ><span>NAME: </span> {{customer.name}} <button (click)="onSelect(customer)">EDIT</button>

			<ul>

				<li><span>EMAIL: </span> {{customer.email}} </li>
				<li><span>TELEPHONE: </span> {{customer.telephone}} </li>
				<li><span>ADDRESS: </span>

					<ul class="address">

						<li><span>STREET: </span> {{customer.address.street}} </li>
						<li><span>CITY: </span> {{customer.address.city}} </li>
						<li><span>STATE: </span> {{customer.address.state}} </li>
						<li><span>ZIP: </span> {{customer.address.zip}} </li>

					</ul>
				</li>
			</ul>


		</li>
		</div>
	</ul>-->
</section>